.completed {
    text-decoration: line-through;
    color: #5D536B;
  }
  
  .task-details {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
  }
  
  .task-details span {
    display: block;
  }
  
  .task-secondary {
    display: flex;
    margin-top: 4px;
  }
  
  .task-secondary .priority {
    margin-left: 15px;
  }
  
